@import 'variables';

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 100vw;
    height: 100vh;
    display: flex;

    .navigation {
        flex-basis: 60px;
        flex-grow: 0;
        flex-shrink: 0;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        background-color: $navbar-bg;

        .divider {
            height: 1px;
            width: 48px;
            border: none;
            background: $divider-color;
            margin: 12px 0;
        }

        .upper {
            display: flex;
            flex-direction: column;
            align-items: center;

            .logo {
                width: 36px;
                height: 36px;
                margin-bottom: 11px;
                margin-top: 12px;

                &:hover {
                    cursor: pointer;
                }
            }

            .icon_group {
                display: flex;
                flex-direction: column;
                margin-top: 12px;
                gap: 6px;
            }
        }

        .lower {
            display: flex;
            flex-direction: column;
            align-items: center;
            padding-bottom: 12px;

            &__group {
                display: flex;
                flex-direction: column;
                align-items: center;
                gap: 6px;
            }
        }
    }

    .sidebar {
        flex-basis: 240px;
        flex-grow: 0;
        flex-shrink: 0;

        display: none;
        height: 100%;
        flex-direction: column;
        align-items: center;
        background: white;
        padding: 0 12px;

        .community {
            height: 60px;
            display: flex;
            align-items: center;
            justify-content: space-between;
            align-self: stretch;

            .sidebar-header {
                font-family: 'Inter', sans-serif;
                font-style: normal;
                font-weight: 700;
                font-size: 10px;
                line-height: 12px;
                text-transform: uppercase;
                color: $title-color;
            }

            #sidebar-toggle {
                &:hover {
                    cursor: pointer;
                }
            }
        }

        hr {
            height: 1px;
            width: 100%;
            background: #d7d8d9;
            border: none;
        }

        .category {
            width: 100%;
            margin-top: 12px;
            padding-left: 12px;
            padding-right: 12px;

            &:nth-of-type(2),
            &:nth-of-type(3) {
                margin-top: 18px;
            }

            &__title {
                display: flex;
                justify-content: space-between;
                align-items: center;
                margin-bottom: 15px;

                .title {
                    font-family: 'Inter', sans-serif;
                    font-style: normal;
                    font-weight: 700;
                    font-size: 13px;
                    line-height: 18px;
                    color: $title-color;
                }
            }

            &__group {
                display: flex;
                flex-direction: column;
                gap: 3px;
                margin-bottom: 15px;

                .selected {
                    border-radius: 6px;
                    background: $main-bg;
                }

                &-item {
                    height: 36px;
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                    padding-left: 14px;
                    padding-right: 12px;

                    &__left {
                        display: flex;
                        align-items: center;
                        gap: 6px;

                        .icon {
                            width: 18px;
                            height: 18px;
                            display: flex;
                            justify-content: center;
                            align-items: center;
                        }

                        p {
                            font-family: 'Inter', sans-serif;
                            font-style: normal;
                            font-weight: 400;
                            font-size: 13px;
                            line-height: 18px;
                            color: $title-color;
                        }
                    }

                    .red {
                        color: red;
                    }

                    span {
                        font-family: 'Inter', sans-serif;
                        font-style: normal;
                        font-weight: 700;
                        font-size: 10px;
                        line-height: 12px;
                        color: $p-color;
                    }
                }
            }
        }
    }

    .main {
        height: 100%;
        width: 100%;
        background: $main-bg;
        padding: 24px 24px 0 24px;

        @media screen and (min-width: 1281px) and (max-width: 1560px) {
            padding: 36px 36px 0 36px;
        }

        @media screen and (min-width: 1561px) {
            padding: 36px 36px 0 36px;
        }

        .header {
            position: relative;
            height: 540px;
            width: 100%;
            background: $bg-grey;
            border-radius: 18px;
            display: flex;
            justify-content: space-between;

            .info {
                width: 360px;
                min-width: 360px;
                margin-left: 36px;
                margin-top: 111px;
                margin-right: 60px;

                @media screen and (max-width: 1280px) {
                    margin-left: 36px;
                }

                @media screen and (min-width: 1281px) and (max-width: 1560px) {
                    margin-left: 72px;
                }

                @media screen and (min-width: 1561px) {
                    margin-left: 240px;
                }

                span {
                    font-family: 'Inter', sans-serif;
                    font-style: normal;
                    font-weight: 400;
                    font-size: 10px;
                    line-height: 12px;
                    color: $title-color;
                    text-transform: uppercase;

                    &:nth-of-type(2) {
                        font-weight: 700;
                    }

                    @media screen and (min-width: 1281px) and (max-width: 1560px) {
                        font-size: 13px;
                        line-height: 18px;
                    }

                    @media screen and (min-width: 1561px) and (max-width: 1788px) {
                        font-size: 13px;
                        line-height: 18px;
                    }
                }

                h1 {
                    font-family: 'Inter', sans-serif;
                    font-style: normal;
                    font-weight: 500;
                    font-size: 30px;
                    line-height: 42px;
                    color: $title-color;
                    margin-top: 24px;
                    margin-bottom: 30px;

                    @media screen and (min-width: 1281px) and (max-width: 1560px) {
                        font-weight: 700;
                        font-size: 46px;
                        line-height: 60px;
                    }

                    @media screen and (min-width: 1561px) {
                        font-weight: 700;
                        font-size: 46px;
                        line-height: 60px;
                    }
                }

                p {
                    font-family: 'Inter', sans-serif;
                    font-style: normal;
                    font-weight: 400;
                    font-size: 13px;
                    line-height: 18px;
                    color: $title-color;
                }

                .controls {
                    display: flex;
                    gap: 36px;
                    align-items: center;
                    margin-top: 48px;

                    .btn {
                        width: 120px;
                        height: 48px;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        background: $button-default-bg;
                        border: none;
                        border-radius: 6px;
                        color: white;

                        &:hover {
                            cursor: pointer;
                        }
                    }

                    .btn-clicked {
                        height: 48px;
                        display: none;
                        align-items: center;
                        gap: 6px;
                        padding: 15px 18px;
                        background: $button-clicked-bg;
                        border: 1px solid #25a066;
                        border-radius: 6px;

                        font-family: 'Inter', sans-serif;
                        font-style: normal;
                        font-weight: 700;
                        font-size: 13px;
                        line-height: 18px;
                        color: $title-color;

                        img {
                            display: flex;
                            justify-content: center;
                            align-items: center;
                            width: 18px;
                            height: 18px;
                        }

                        &:hover {
                            cursor: pointer;
                        }
                    }

                    a {
                        font-family: 'Inter', sans-serif;
                        font-style: normal;
                        font-weight: 400;
                        font-size: 13px;
                        line-height: 18px;
                    }
                }

                @media screen and (max-width: 1280px) {
                    min-width: 360px;
                    max-width: 540px;
                    flex-grow: 1;
                }

                @media screen and (min-width: 1281px) and (max-width: 1560px) {
                    min-width: 540px;
                    max-width: 600px;
                    flex-grow: 1;
                }

                @media screen and (min-width: 1561px) {
                    min-width: 540px;
                    max-width: 600px;
                    flex-grow: 1;
                }
            }
        }

        .visual-area {
            width: 476px;
            max-width: 476px;
            flex-grow: 1;
            height: 600px;
            background: $bg-blue;
            border-radius: 0 18px 0 0;

            @media screen and (max-width: 1280px) {
                width: 476px;
                max-width: 476px;
            }

            @media screen and (min-width: 1281px) and (max-width: 1560px) {
                width: 616px;
                max-width: 616px;
            }

            @media screen and (min-width: 1561px) {
                width: 828px;
                max-width: 828px;
            }
        }

        .content {
            width: 100%;
            height: 162px;
            display: grid;
            grid-template-columns: 1fr 1fr 1fr;
            gap: 70px;
            margin-top: 96px;
            padding: 0 36px;

            @media screen and (min-width: 1281px) and (max-width: 1560px) {
                padding: 0 72px;
            }

            @media screen and (min-width: 1561px) {
                padding: 0 240px;
            }

            .col {
                min-width: 240px;
                display: flex;
                flex-direction: column;
                justify-content: start;
                gap: 24px;
                flex-grow: 1;

                .circle {
                    position: relative;
                    width: 24px;
                    height: 24px;
                    display: flex;
                    justify-content: center;
                    align-items: center;

                    .inner-circle {
                        position: absolute;
                        width: 12px;
                        height: 12px;
                        opacity: 1;
                        background: #0038e5;
                        border-radius: 6px;
                    }

                    .outer-circle {
                        width: 24px;
                        height: 24px;
                        border-radius: 12px;
                        background: #0038e5;
                        opacity: 0.15;
                    }
                }

                h3 {
                    font-family: 'Inter', sans-serif;
                    font-style: normal;
                    font-weight: 600;
                    font-size: 13px;
                    line-height: 18px;
                    color: $title-color;
                }

                p {
                    font-family: 'Inter', sans-serif;
                    font-style: normal;
                    font-weight: 400;
                    font-size: 13px;
                    line-height: 18px;
                    color: $p-color;
                }

                @media screen and (max-width: 1280px) {
                    max-width: 300px;
                }

                @media screen and (min-width: 1281px) and (max-width: 1560px) {
                    max-width: 360px;
                }

                @media screen and (min-width: 1561px) {
                    max-width: 360px;
                }
            }
        }
    }
}
