$main-bg: #F3F3F5;
$sidebar-bg: #FFFFFF;
$navbar-bg: #1A1F26;

$bg-grey: #E4E5E6;
$bg-blue: rgba(106, 132, 226, 0.1);

$button-default-bg: linear-gradient(127.93deg, #2EBD7A -2.9%, #25A066 96.02%);
$button-clicked-bg: #C7EFDC;

$title-color: #2F3744;
$p-color: #717578;
$title-dark-color: #1A1F26;

$divider-color: #A3A3A3;